In [78]:
# fungsi tambah 
# .... kodingan terkait fungsi tambah ...

### Tutorial Mengumpulkan Tugas

1. Clone repository tugas dari SSH-nya dengan `git clone <url SSH>`
2. Masukan file pengerjaan tugas ke dalam *cloned repo*
3. **ATAU** kerjakan tugas langsung di dalam *cloned repo*

mulai dari sini pastikan terminal ada di directory yang benar

4. Setiap ada perubahan pada file lakukan `git add <nama_file>` **atau** `git add .`
5. Gunakan `git status` untuk melihat file apa saja yang berubah. kalau warnanya merah berarti ada perubahan yang belum di *add*, sedangkan kalau hijau berarti perubahan sudah di *add*
6. lakukan `git commit -m "comment apa perubahannya"` jika sudah yakin dengan perubahan yang dilakukan.
7. bisa cek git status lagi
8. lakukan `git push` untuk sinkronisasi dengan repo (upload)```
8. lakukan git push untuk sinkronisasi dengan repo (upload)

catatan tambahan 

'git init' untuk menerapkan teknologi git dalam project
'git add.' untuk menerapkan perubahan/changes yyang sudah dilakukan
'git commit' untuk menyimpan perubahaan yang sudah ditandain -> diperlukan pesan di commit
'git push'

percobaan masih belum berhasil, saya masih belum paham

In [79]:
#integers 

print(123123123123+1)

123123123124

In [80]:

print(10)
print(type(15))

10
<class 'int'>

In [81]:
#floating point

print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

In [82]:
#class string

print("Hakctive 8")
print(type("Hacktive 8"))

Hakctive 8
<class 'str'>

In [83]:
#bolean type 

print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [84]:
#variable assignment

n = 5500
print(n)

n

n = 1000
print(n)

a = b = c = 500
print(a,b,c)

5500
1000
500 500 500

In [85]:
#tipe variable di python

var = 23.5
print(var)

var= "aku adalah bentuk string"
print(var)

23.5
aku adalah bentuk string

In [86]:
#cara membentuk nama variable

name = "arya"
age = 29
has_laptop = True
print(name,age,has_laptop)

arya 29 True

In [87]:
# operator and expresion

a = 15 
b = 20 
a + b 

a = 10 
b = 34
a + b - 15

29

In [88]:
#perhitungan aritmatic
 
a = 5
b = 4 

print(a + b)
print(a - b)
print(a / b)
print(a % b)
print(a **b)

9
1
1.25
1
625

In [89]:
#contoh dalam melakukan komparasi 

a = 5 
b = 10 

print(a == b )

print(a != b)

print(a <= b)

print(a >= b)

a = 20
b = 10 

print(a == b)

print(a <= b)

print(a >= b)

False
True
True
False
False
False
True

In [90]:
#string manipulation

# penambahan operator dahulu 
a = " ayam"
b = " bakar"
c = " goreng"

print (a +b)

print (a + c)

print (a + b + c )

print ("ayam"+" bakar")

# (*)perkalian operator 

a = " ayam"

a*5

# in operators

a = " ayam"

print(a in "aku kepingin makan ayam bakar")
print(a in "aku kepingin makan bayam")

#case conversion 

a = "bebek panggang"

#capitalize
print(a.capitalize())

#lower
print(a.lower())

#swapcase
print(a.swapcase())

#title
print(a.title())

#uppercase
print(a.upper())

 ayam bakar
 ayam goreng
 ayam bakar goreng
ayam bakar
True
False
Bebek panggang
bebek panggang
BEBEK PANGGANG
Bebek Panggang
BEBEK PANGGANG

In [91]:
#python list

a = ['buku belajar', 'buku motivasi', 'buku kitab', 'buku kerja']

print(a)

['buku belajar', 'buku motivasi', 'buku kitab', 'buku kerja']

In [92]:
#list are ordered

a = ['buku belajar', 'buku motivasi', 'buku kitab', 'buku kerja']
b = ['buku catatan', 'buku motivasi', 'buku belajar', 'buku kerja']

a == b

False

In [93]:
#list can contain anyy assortment objects 

a = [20.2, 'buku kerja, 3 , 4, "nilai", false, 3.123']

print (a)

[20.2, 'buku kerja, 3 , 4, "nilai", false, 3.123']

In [94]:
#list element can be accesed by index

a = ['buku belajar', 'buku motivasi', 'buku kitab', 'buku kerja','buku catatan','buku coding']

print(a[2])
print(a[4])

print(a[-1])
print(a[-6])

#slicing dengan index 

a = ['belajar', 'motivasi', 'kitab', 'kerja','catatan','coding']
a[2:5]

buku kitab
buku catatan
buku coding
buku belajar

['kitab', 'kerja', 'catatan']

In [95]:
#concatenation (+) and replication (*) operators :

print(a)

print(a +['berenang', 'menyelam'])
print(a *2)

['belajar', 'motivasi', 'kitab', 'kerja', 'catatan', 'coding']
['belajar', 'motivasi', 'kitab', 'kerja', 'catatan', 'coding', 'berenang', 'menyelam']
['belajar', 'motivasi', 'kitab', 'kerja', 'catatan', 'coding', 'belajar', 'motivasi', 'kitab', 'kerja', 'catatan', 'coding']

In [96]:
#pengertian len, min, max

print (a)

#len memanggil seluruh index didalam variabel dalam bentuk angka
print(len(a))
#min memanggil index didalam variabel dengan urutan paling awal/ 
#apabila angka nilai paling kecil
print (min(a))
#max 
#memanggil index didalam variabel dengan urutan paling akhir/
#apabila angka diambil paling besar atau maksimal
print (max(a))

['belajar', 'motivasi', 'kitab', 'kerja', 'catatan', 'coding']
6
belajar
motivasi

In [97]:
#modifikasi nilai satu list

a = ['belajar', 'motivasi', 'kitab', 'kerja','catatan','coding']

print (a)

a[2] = "kadal"
a[-1] = "biawak"

print (a)

['belajar', 'motivasi', 'kitab', 'kerja', 'catatan', 'coding']
['belajar', 'motivasi', 'kadal', 'kerja', 'catatan', 'biawak']

In [98]:
#modifikasi nilai dari berbagai list

a = ['belajar', 'motivasi', 'kitab', 'kerja','catatan','coding']

print(a[2:5])

a[1:4] = [4,3,2,1,0]

print(a)

['kitab', 'kerja', 'catatan']
['belajar', 4, 3, 2, 1, 0, 'catatan', 'coding']

In [99]:
#python tuples 

tuple = ('belajar', 'motivasi', 'kitab', 'kerja','catatan','coding')

print (tuple)

('belajar', 'motivasi', 'kitab', 'kerja', 'catatan', 'coding')

In [100]:
print (tuple[3])

print (tuple[-2])

kerja
catatan

In [101]:
(w1,w2,w3,w4,w5,w6)=('belajar', 'motivasi', 'kitab', 'kerja','catatan','coding')

w2, w1, w5,w6

('motivasi', 'belajar', 'catatan', 'coding')

In [102]:
#pembentukan dictionary 

Kategori_Buku={
    'buku sihir':'harry potter',
    'buku terbang':'terbang indah di langit',
    'buku motivasi': 'belajar sampai mati',
    'buku catatan' : 'catatan ulang hari ke 3',
    'buku coding': 'tips belajar python dalam seminggu'
    }

In [103]:
#mengakses dictionary values

print(Kategori_Buku['buku sihir'])
print(Kategori_Buku['buku terbang'])

harry potter
terbang indah di langit

In [104]:
#menambahkan kata dari dictionary yg sudah ada

Kategori_Buku['buku belajar']= 'paham singkat dalam belajar'
Kategori_Buku

{'buku sihir': 'harry potter',
 'buku terbang': 'terbang indah di langit',
 'buku motivasi': 'belajar sampai mati',
 'buku catatan': 'catatan ulang hari ke 3',
 'buku coding': 'tips belajar python dalam seminggu',
 'buku belajar': 'paham singkat dalam belajar'}

In [105]:
#apabila menghapus list yang spesifik bisa dengan perintah "del"

del Kategori_Buku['buku belajar']
Kategori_Buku

{'buku sihir': 'harry potter',
 'buku terbang': 'terbang indah di langit',
 'buku motivasi': 'belajar sampai mati',
 'buku catatan': 'catatan ulang hari ke 3',
 'buku coding': 'tips belajar python dalam seminggu'}

In [106]:
#pembuatan dictionary secara bertahap

orang = {}
type(orang)

orang ['nama depan']= 'adhy arya'
orang ['nama belakang'] = 'hendrata'
orang ['umur'] = 29
orang ['hobi'] = 'bulutangkis'
orang ['peliharaan'] = ['manis', 'tampu','cookies','muffin']
orang [ 'makan dan minuman favorite'] = {'makanan':"ayam goreng","minuman":"teh matcha"}

In [107]:
orang

{'nama depan': 'adhy arya',
 'nama belakang': 'hendrata',
 'umur': 29,
 'hobi': 'bulutangkis',
 'peliharaan': ['manis', 'tampu', 'cookies', 'muffin'],
 'makan dan minuman favorite': {'makanan': 'ayam goreng',
  'minuman': 'teh matcha'}}

In [108]:
print(orang["nama depan"])
print(orang['nama belakang'])

adhy arya
hendrata

In [109]:
print(orang['peliharaan'])
print(orang['peliharaan'][3])

['manis', 'tampu', 'cookies', 'muffin']
muffin

In [1]:
#build in methods 
a = {"b":10,"c":20,"d":30}

#items
print(a.items())

#keys
print(a.keys())

#values 
print(a.values())

dict_items([('b', 10), ('c', 20), ('d', 30)])
dict_keys(['b', 'c', 'd'])
dict_values([10, 20, 30])

In [2]:
#python statement

print("selamat pagi, dunia")

x=[1,2,3]
print(x)

selamat pagi, dunia
[1, 2, 3]

In [5]:
#dalam pembuatan line berkelanjutan ada dua type pembuatan yaitu : 

orang1_umur=29 
orang2_umur=34
orang3_umur=37

orang_bekerja_pada_umur = (orang1_umur>= 18 and orang1_umur <=65)or(orang2_umur>=18 and orang2_umur<=65)or(orang3_umur>=18 and orang3_umur<=65)
orang_bekerja_pada_umur

True

In [8]:
#atau bentuk lain dapat dijelaskan dalam bentuk 

orang_bekerja_pada_umur = (
        (orang1_umur>= 18 and orang1_umur <=65)
        or(orang2_umur>=18 and orang2_umur<=65)
        or(orang3_umur>=18 and orang3_umur<=65))
        
orang_bekerja_pada_umur

True

Pembatas

condition and loop

In [12]:
#grouping statement

if "ayam" in ['udang,daging,ikan']: 
    print ('expression was true')
    print ('executing statement in suite')
    print ('...')
    print ('done.')
    
print ('after conditional')

if "ayam" in ['udang,daging,ikan']:
    print ('outer condition is true')
else : 
    print ('tidak ada ayam di menu')

after conditional
tidak ada ayam di menu

In [18]:
x = 2
if x == 1: print('ayam'); print('ikan'); print('daging')
elif x == 2: print('susu'); print('kopi')
else: print('pilih menu yang ada'); print('tolong kembali ke awal')

susu
kopi

In [22]:
#dengan visualisasi lebih baik 

x = 3 

if x == 1 : 
    print ('ayam')
    print ('ikan')
    print ('daging')
elif x == 2 :
    print ('susu')
    print ('kopi')
else : 
    print ('pilih menu yang ada')
    print ('tolong kembali ke awal')

pilih menu yang ada
tolong kembali ke awal

In [25]:
#conditional expression 

hujan = False
print ('ayo pergi ke', 'pantai' if not hujan else 'perpustakaan')

ayo pergi ke pantai

In [26]:
#tipe kondisi yang lain 

hujan = True
print ('ayo pergi ke', 'pantai'if not hujan else 'perpustakaan')

ayo pergi ke perpustakaan

In [28]:
#tipe kondisi umur

umur = 29 
x = "adult"  if umur >21  else "teen"

x

'adult'

In [29]:
'yes' if ('ayam' in ['daging', 'ikan', 'udang']) else 'no'

'no'

python while loop

In [37]:
n = 10 

while n > 0 : 
    n -= 1 
    print (n, end= '')

9876543210

In [42]:
i = 10


while i < 20 : 
    print (i, end= ' ')
    i += 1

10 11 12 13 14 15 16 17 18 19

pthon break and continue statetment