In [50]:
print ("ini adalah string")

ini adalah string

Boolean type, Boolean context

In [51]:
True + False

1

In [52]:
False + False

0

In [53]:
False + True

1

In [54]:
list_belanja = ['jeruk', 'tomat', 'terong']

In [55]:
age = 1 
Age = 2

In [56]:
name : 'makan'
Age : 29
has_laptop = True
print(name,age,has_laptop)

NameError: name 'name' is not defined

In [ ]:
a = 4 
b = 3 

print (a + b)
print (a - b)
print (a * b)
print (a / b)
print (a % b)
print (a ** 1/b)

7
1
12
1.3333333333333333
1
1.3333333333333333

Comparasion operator

In [ ]:
#contoh - contoh comparasi operator yang digunakan

a = 5 
b = 15
c = 10
d = 25

print (a == b)

print (a != b)

print (a < b)

print (a > b)

a = 20
b = 30

print (a == b)

print (a != b)

print (a < b )

False
True
True
False
False
True
True

String Manipulation

In [ ]:
# + Operators
s = 'ayam'
t = 'goreng'
u = ' bikin lapar '

print (s + t )
print (s + t + u)

ayamgoreng
ayamgoreng bikin lapar

In [ ]:
list_belanja.insert(2,'brokoli')
print (list_belanja)

['jeruk', 'tomat', 'brokoli', 'terong']

In [ ]:
Balap_liar

TASK #1 given list of customer_id that doing transaction in 1 day : 
how many unique customer_id from above list

In [68]:
def unique (customer_id):

    unique_list = [customer_id]

    for x in customer_id:

        if customer_id not in unique_list:
            unique_list.append(x)
    for x in unique_list:
        print (x, end=" "), 
        
customer_id = ['B818', 'A461', 'A092', 
                'A082', 'B341', 'A005', 'A092', 'A461',
               'B219', 'B904', 'A901', 'A083', 'B904', 'A092', 'B341', 
               'B821','B341', 'B821', 'B904', 'B818', 
               'A901', 'A083', 'B818', 'A082','B219', 'B219', 
               'A083', 'A901', 'A082', 'B341', 'B341', 'A083',
               'A082', 'B219', 'B439', 'A461', 'A005', 
               'A901', 'B341', 'A082','A083', 'A461', 'A083', 'A901', 'A461', 'A083', 
               'A082', 'A083','B341', 'A901', 
               'A082', 'A461', 'B219', 'A083', 'B818', 'B821','A092', 
               'B341', 'A461', 'A092', 'A083', 'B821', 'A092']

print ("unique values customer_id")
unique(customer_id)

unique values customer_id
['B818', 'A461', 'A092', 'A082', 'B341', 'A005', 'A092', 'A461', 'B219', 'B904', 'A901', 'A083', 'B904', 'A092', 'B341', 'B821', 'B341', 'B821', 'B904', 'B818', 'A901', 'A083', 'B818', 'A082', 'B219', 'B219', 'A083', 'A901', 'A082', 'B341', 'B341', 'A083', 'A082', 'B219', 'B439', 'A461', 'A005', 'A901', 'B341', 'A082', 'A083', 'A461', 'A083', 'A901', 'A461', 'A083', 'A082', 'A083', 'B341', 'A901', 'A082', 'A461', 'B219', 'A083', 'B818', 'B821', 'A092', 'B341', 'A461', 'A092', 'A083', 'B821', 'A092']

In [71]:
print (len("unique values customer_id"))

25

Task #1 (cara yang lain)

In [75]:
customer_id = ['B818', 'A461', 'A092', 
                'A082', 'B341', 'A005', 'A092', 'A461',
               'B219', 'B904', 'A901', 'A083', 'B904', 'A092', 'B341', 
               'B821','B341', 'B821', 'B904', 'B818', 
               'A901', 'A083', 'B818', 'A082','B219', 'B219', 
               'A083', 'A901', 'A082', 'B341', 'B341', 'A083',
               'A082', 'B219', 'B439', 'A461', 'A005', 
               'A901', 'B341', 'A082','A083', 'A461', 'A083', 'A901', 'A461', 'A083', 
               'A082', 'A083','B341', 'A901', 
               'A082', 'A461', 'B219', 'A083', 'B818', 'B821','A092', 
               'B341', 'A461', 'A092', 'A083', 'B821', 'A092']
unique_values = list(set(customer_id))
print(unique_values)

['A083', 'B904', 'B821', 'B341', 'A901', 'A092', 'B818', 'A005', 'B219', 'A461', 'B439', 'A082']

In [76]:
print (len(unique_values))

12

Task #2 
given list of

In [85]:
Data = [1,4,9,16,25,36,49,64,81,100]

Data[3]
Data[5:9]

[36, 49, 64, 81]

In [87]:
Data =[1,4,9,16,25,36,49,64,81,100]
Data.reverse()
print (Data)

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

#Task 3

In [88]:
provinsi = {'Nanggroe Aceh Darussalam': 'Aceh','Sumatera Selatan': 'Palembang','Kalimantan Barat': 'Pontianak','Jawa Timur': 'Madiun','Sulawesi Selatan': 'Makassar','Maluku': 'Ambon'}
print(provinsi.keys())

dict_keys(['Nanggroe Aceh Darussalam', 'Sumatera Selatan', 'Kalimantan Barat', 'Jawa Timur', 'Sulawesi Selatan', 'Maluku'])

In [91]:
provinsi = {'Nanggroe Aceh Darussalam': 'Aceh','Sumatera Selatan': 'Palembang','Kalimantan Barat': 'Pontianak','Jawa Timur': 'Madiun','Sulawesi Selatan': 'Makassar','Maluku': 'Ambon'}
provinsi ['Jawa Timur']='Surabaya'
print(provinsi)

{'Nanggroe Aceh Darussalam': 'Aceh', 'Sumatera Selatan': 'Palembang', 'Kalimantan Barat': 'Pontianak', 'Jawa Timur': 'Surabaya', 'Sulawesi Selatan': 'Makassar', 'Maluku': 'Ambon'}